[build]
command = "pip install -r requirements.txt"
functions = "functions"
publish = "."

[build.environment]
PYTHON_VERSION = "3.11.0"

[functions]
directory = "functions"
node_bundler = "none"

[functions."api"]
included_files = ["**"]

[[redirects]]
from = "/static/*"
to = "/static/:splat"
status = 200

[[redirects]]
from = "/*"
to = "/.netlify/functions/api/:splat"
status = 200
force = true
